body{
  background-color:  #3D445E;
  margin: 0%;
}

.all{
  text-align: center;
  background-color:#3D445E;
  width: 100%;
  height: 100%;
}

.icon{
  width: 20vw;
  height: 20vw;
  filter: drop-shadow(10px 10px 10px rgba(0,0,0,0.6));
}

.name-block{
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  background-color:#3B8E96;
}

.handle-block{
  margin: 2%;
  flex-grow: 2;
}

.namepro{
  background-color: #f6f5f8;
  border-radius: 50px 50px;
  filter: drop-shadow(10px 10px 10px rgba(0,0,0,0.6));
  text-align:center;
  flex-grow: 1;
  height: 60%;
  margin: 2%;
}

.name{
  color: #f6f5f8;
  background-color: #b6bfd8;
  border-radius: 20px
}

.handle{
  border-radius: 20px;
  background-color:#f6f5f8;
}

.lang{
  border-radius: 20px;
  background-color:#f6f5f8; 
  
}

.edu{
  border-radius: 20px;
  background-color: #f6f5f8;
  
}

.sns{
  background-color:#f6f5f8;
}

.string{
  color: #3B8E96;
  margin: 5%;
  font-size: 170%;
}

.protext{
  color: #f6f5f8;
  margin: 0%;
  font-size: 150%;
}

.snsstring{
  color: #3B8E96;
  font-size: 200%;
  margin: 0%;
}

.img{
  width: 30%;
  height: 30%;
}

.imgBlock{
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
}

.block{
  display: flex;
  justify-content:center;
  width:94vw;
  height: 100%;
}

li{
  text-align: left;
}

.snslist{
  padding-left: 47%;
  margin: 0%;
}

.plang{
  padding-left:30%;
}

.youtube{
  border-radius: 50px 50px;
  margin: 2%;
  width: 75%;
  height:35vw;
}

.marginTex{
  margin: 0%;
}

.animeimg{
  width: 72%;
}

.botimg{
  width: 70%
}

.lineimg{
  width: 70%;
  height: 150%;
}

.memoimg{
  width: 73%;
}

.arimg{
  width: 50%;
}

.NIT{
  width: 70%;
}

.media{
  width: 70%;
}

.product{
  margin:3% ;
  background-color: #3B8E96;
}

.product-back{
  background-color:#f6f5f8;
  border-radius: 20px;
  margin: 4%;
}

.title{
  margin-bottom: 5%;
}